body {
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
}

.calc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  border-radius: 20px;
  background-color: #eeeeee;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

input {
  width: 100%;
  box-sizing: border-box;
}
input, button {
  outline: none;
  font-size: 1.4rem;
  background-color: #ffffff;
  border: 1px solid #a2a2a2;
  border-radius: 10px;
  padding: 10px;
}
button {
  margin-left: 10px;
}

.input form {
  display: flex;
}

.result {
  margin-top: 20px;
}
.result input {
  opacity: 0.8;
  text-align: right;
}
